*****
This host is managed by Ansible Automation Platform 2
The host FQDN is {{ ansible_fqdn }}
The host primary IP address is {{ ansible_facts.default_ipv4.address }} served by inteface {{ ansible_facts.default_ipv4.interface }}
*****